.dogbreed{
    font-family: 'Satisfy', cursive;
}
.randomimage{
    width:80px;
}
 h4{
     color: red;
 }
 .show{
     color:blue;
     text-decoration: underline;
 }
 .hidden{
     display:none;
 }
 .flash {
    animation-name: flash;
     animation-duration: 0.2s;
     animation-timing-function: linear;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-play-state: running;
 }
 
 @keyframes flash {
     from {color: red;}
     to {color: black;}
 }
 .tobefix{
     position: fixed;
     top:0;
     left:0;
     width:100%;
     z-index: 7;
 }
 .randomimage{
     width:90% !important;
     margin:auto;
     position: relative;
     top: 350px !important;
 }
 