.full_page{
    width: 50%;
    margin: 20px auto;
    height: 80%;
   

}
.full_page > img{
    border-radius: 50%;
    height: 100%;

}
h2{
    background-color: cyan;
}
.full_page> h1{
    background-color: darkorange;
}
